@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

nav {
    background-color: #333;
    padding-block: 1.5rem;
    padding-inline: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.1s ease;
}

a:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.846);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #303030;
}